<template>
    <div>
        <h1>Comptes</h1>

        <p>R&eacute;sum&eacute; des comptes</p>

        <table v-if="accounts != null" class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Solde</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="acc in accounts">
                    <td>
                        <a v-bind:href="getEditLink(acc.id)"><i class="glyphicon glyphicon-edit"></i></a>
        
                        <a v-bind:href="getTransactionsLink(acc.id)">{{ acc.name }}</a>
                    </td>
                    <td>{{ acc.balance.value }} {{ acc.balance.currency }}</td>
                </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>
        
        </div>
    </div>
</template>

<script src="./accounts.ts"></script>
