<template>
    <div class="input-group">
        <span class="input-group-addon">
            <input v-on:change="onDefaultChecked()" type="checkbox" v-model="setdefault" :disabled="forcesetdefault">
        </span>
        <input @change="onInputChanged()" type="text" class="form-control" :disabled="id >= 0" :placeholder="placeholder" v-model="name">
        <div v-if="!noid" class="input-group-btn">
            <button class="btn btn-default" type="button" v-on:click="createNew()">New</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Existing<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li v-for="data in datalistsorted"><a v-on:click="selectExisting(data)">{{ data.name }}</a></li>
            </ul>
        </div>
    </div>
</template>

<script src="./import-part.ts"></script>