<template>
    <div>
        <h1>Importer</h1>

        <p>Importer des transactions</p>

        <input type="file" @change="onFileChange"/>

        <table v-if="accounts.length > 0" class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Libell&eacute;</th>
                    <th>Montant</th>
                    <th>Tiers</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO : Create a component to display an imported AccountTransactionRow -->
                <tr v-for="trx in accounts[0].transactions" v-if="isTransactionDisplayed(trx)">
                    <td>{{ trx.transactionDate }}</td>
                    <td>{{ trx.captionOrPayee }}</td>
                    <td>{{ trx.amount }}</td>
                    <td>
                        <div  class="input-group" v-if="trx.detectedPayeeId == null">
                            <input type="text" class="form-control" placeholder="Enter a payee name" v-model="trx.detectedPayee">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Create new</button>
                                <button class="btn btn-default" type="button">Select existing</button>
                            </span>
                            <span>{{  }}</span>
                        </div>
                        <span v-if="trx.detectedPayeeId != null">{{ trx.detectedPayeeId }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./account_import.ts"></script>
