<template>
    <div>
        <h1>Transactions du compte {{account.name}}</h1>

        <p>R&eacute;sum&eacute; des transactions</p>

        <ul class="pagination">
            <li v-bind:class="{'disabled':(transactionsview.pageId === 0)}"><a style="cursor:pointer" v-on:click="paginate(transactionsview.pageId - 1)">&laquo;</a></li>
            <li v-for="page in pagerIndexes" v-bind:class="{'active':(page === transactionsview.pageId)}">
                <a class="page-link" style="cursor:pointer" v-on:click="paginate(page)">{{ page + 1 }}</a>
            </li>
            <li v-bind:class="{'disabled':(transactionsview.pageId >= transactionsview.pageCount - 1)}"><a style="cursor:pointer" v-on:click="paginate(transactionsview.pageId + 1)">&raquo;</a></li>
        </ul>

        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Libell&eacute;</th>
                    <th>Tiers</th>
                    <th>Cat&eacute;gorie</th>
                    <th>Montant</th>
                    <th>Solde</th>
                    <th>Original</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="trx in transactionsview.transactions">
                    <td>{{ getFormattedDate(trx.transaction.date) }}
                        <br/>
                        <span v-if="trx.transaction.userDate != null" style="font-size:smaller">{{ getFormattedDate(trx.transaction.userDate) }}</span>
                    </td>
                    <td>{{ getFormattedType(trx.transaction.type) }}</td>
                    <td>{{ trx.transaction.caption }}
                        <br/>
                        <span style="font-size:smaller">{{ trx.comment }}</span>
                    </td>
                    <td>{{ trx.transaction.payeeName }}</td>
                    <td>{{ trx.transaction.categoryName }}</td>
                    <td>{{ trx.transaction.amount.value }} {{ trx.transaction.amount.currency }}</td>
                    <td>{{ trx.balance.value }} {{ trx.balance.currency }}</td>
                    <td>{{ trx.importedTransactionCaption }}</td>
                    <td>{{ trx.importedTransactionHash }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./account_transactions.ts"></script>
