<template>
    <div>
        <h1>Importer</h1>

        <p>Importer des transactions</p>

        <input type="file" @change="onFileChange"/>

        <table v-if="accounts.length > 0" class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Libell&eacute;</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="trx in accounts[0].transactions">
                    <td>{{ trx.transactionDate }}</td>
                    <td>{{ trx.captionOrPayee }}</td>
                    <td>{{ trx.amount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./account_import.ts"></script>
